.carousel-container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    margin-top: 180px;
  
    .category-buttons {
      margin-bottom: 20px;
  
      .filter-btn {
        margin: 0 10px;
        padding: 10px 20px;
        border: 1px solid gray;
        background: none;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s;
  
        &.active {
          background: black;
          color: white;
          border: 1px solid black;
        }
  
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  
    .carousel-item {
      padding: 10px;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  
//     .next-btn,
//   .prev-btn {
//     background: black;
//     color: white;
//     border: none;
//     padding: 20px 25px; /* Increased padding to make buttons larger */
//     cursor: pointer;
//     border-radius: 50%;
//     font-size: 24px; /* Increased font size */
//     transition: all 0.3s;
//     position: absolute;
//     top: 50%;
//     z-index: 10;
//     transform: translateY(-50%);
    
//     &:hover {
//       background: gray;
//     }

//     /* Next Button Position */
//     &.next-btn {
//       right: 10px;
//     }

//     /* Previous Button Position */
//     &.prev-btn {
//       left: 10px;
//     }
//   }
// }

.custom-arrow {
    color: rgb(0, 0, 0);
    border: none;
    padding: 14px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
  
  
  }
  
  .next-btn {
    right: -20px;
  }
  
  .prev-btn {
    left: -25px;
  }
}